@import '7-variables';

.comments {
    background: var(--theme-bg-color);
    backdrop-filter: blur(10px);
    padding: 50px;
    border-top: 1px solid var(--theme-border-color);

    @media only screen and (max-width: 578px) {
        padding: 20px;
    }

    h2 {
        font-family: 'Lato', sans-serif;
        color: var(--theme-text-h-color);
        letter-spacing: 1px;
    }

    .media {
        padding: 8px;

        .card-media {
            display: flex;
            padding: 15px;
            border-radius: 15px;
            background-color: var(--theme-bg-2-color);
            min-height: 200px;
            width: 100%;
            position: relative;
            overflow: hidden;

            @media only screen and (max-width: 578px) {
                min-height: 150px;
            }
            @media only screen and (max-width: 768px) {
                min-height: 100px;
            }

            .media-img {

                img {
                    height: 80px;
                    width: 80px;
                    border-radius: 1000px;
                }

            }

            .media-body {
                color: var(--theme-text-h-color);

                h5 {
                    font-size: 18px;
                    font-weight: bold;
                    font-family: 'Lato', sans-serif;
                }

                p {
                    font-size: 15px;
                    color: var(--theme-text-h-color);
                }
            }

            .quote-mark {
                position: absolute;
                color: darken(rgba(gray, 0.15), 30%);
                font-size: 60px;
                top: -9px;
                right: 13px;
            }

        }


    }
}

.Modal_content {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 50px;
        height: 50px;
        margin: 20px;
    }
    h2 {
        font-family: 'Lato', sans-serif;
    }
    
}