:root {
    --theme-bg-color: rgba(0 0 0 / 0.8);
    --theme-bg-2-color: rgba(0 0 0 / 0.5);
    --theme-border-color: rgba(128 128 128 / 0.2);
    --theme-form_color: rgba(128 128 128 / 0.5);
    --theme-text-h-color: rgba(255 255 255 / 1);
    --theme-darkgray: rgba(128 128 128 / 1);
    --theme-barber-img: rgba(0 0 0 / 1);
    --theme-barber-2-img: rgba(42 42 42 / 1);
}

.light-mode {
    --theme-bg-color: rgba(255 255 255 / 0.2);
    --theme-bg-2-color: rgba(255 255 255 / 0.2);
    --theme-border-color: rgba(0 0 0 / 0.2);
    --theme-text-h-color: rgba(0 0 0 / 1);
    --theme-darkgray: rgba(39 55 70 / 1);
    --theme-form_color: rgba( 182 234 255  / 0.5);
    --theme-barber-img: rgba(128 128 128 / 1);
    --theme-barber-2-img: rgba(128 128 128 / 0.3);
    
}
