body{
    background-image: url(../imagenes/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: scroll;
}
*{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: .5px;
    text-decoration: none;
}